<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Wars</title>
    <link rel="stylesheet" href="styles/style.css" />
    <!-- Google Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <h1>{{ title }}</h1>
      <small>Olá, {{ userName }}</small>

      <div class="search">
        <input
          type="text"
          v-model="searchTerm"
          placeholder="Buscar personagem..."
        />
        <button v-if="searchTerm" @click="clearSearch">
          <span class="material-icons">close</span> Clear
        </button>
        <button v-if="characters.length !== 8" @click="resetData()">
          <span class="material-icons">refresh</span> Reset
        </button>
      </div>

      <div v-if="filteredCharacters.length === 0" class="no-results">
        <p>Nenhum personagem encontrado</p>
      </div>

      <div v-else class="characters">
        <div class="item" v-for="item of filteredCharacters">
          <img :src="item.image" :alt="item.name" />
          <p>{{item.name}}</p>
          <button class="btn-like btn-icon" @click="likeCharacter(item.name)">
            <span class="material-icons">thumb_up</span>
          </button>
          <button
            class="btn-dislike btn-icon"
            @click="dislikeCharacter(item.name)"
          >
            <span class="material-icons">thumb_down</span>
          </button>
          <button class="btn-remove btn-icon" @click="removeCharacter(item.id)">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
